 body {
            background-image: url('https://i.pinimg.com/originals/88/36/67/8836677fa6ab1092e7efd9e001991539.jpg');
            background-size: cover; 
            background-repeat: no-repeat;
            font-family: 'Montserrat', sans-serif;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            margin-top: 60px;
        }

        .header {
            background-color: rgba(255, 192, 203, 0.8); /* Warna pink dengan tingkat transparansi (alpha) 0.8 */
            text-align: center;
            position: fixed; /* Menetapkan header agar tetap di atas layar */
             width: 100%; /* Lebar header 100% dari layar */
            top: 0; /* Header akan menempel di bagian atas layar */
            left: 0;
            z-index: 100; /* Menetapkan z-index untuk memastikan header ada di atas konten */
            padding: 5px 0; /* Padding atas dan bawah untuk memberikan jarak pada header */
        }

        .menu {
            list-style: none;
            padding: 0;
        }

        .menu li {
            display: inline;
            margin-right: 20px;
        }

        .menu a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
        }
        
        h1 {
            text-align: center;
        }

        h2 {
            text-align: left;
        }
        
        p {
            text-align: left;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background-color: rgba(255, 255, 255, 0.9); /* Latar belakang tabel dengan transparansi */
            border-radius: 20px; /* Sudut tumpul untuk pinggiran background tabel */
        }

        th, td {
            padding: 2%;
            text-align: center;
            border: 1px solid #ccc;
        }

        /* CSS untuk tampilan perangkat seluler */
        @media (max-width: 767px) {
        /* Aturan CSS untuk perangkat seluler di sini */
        .container {
        padding: 10px; /* Mengurangi padding pada perangkat seluler */
        }

        .profile-picture {
        width: 100px; /* Mengurangi ukuran foto profil pada perangkat seluler */
        height: 100px;
        }

        table {
        font-size: 14px; /* Mengurangi ukuran font pada perangkat seluler */
        }
        }

        /* Mengatur tombol */
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #ff69b4; /* Warna merah muda untuk tombol */
            color: white;
            text-decoration: none;
            border-radius: 5px;
            margin: 10px;
        }

        /* Mengatur hyperlink */
        a {
            color: #ff69b4; /* Warna merah muda untuk hyperlink */
            text-decoration: none;
        }

        /* Mengatur tombol ketika dihover */
        .button:hover {
            background-color: #ff3385; /* Warna merah muda yang lebih terang saat tombol dihover */
        }

        .profile-picture {
            display: block;
            margin: 0 auto 20px; /* Memberikan margin bawah supaya tidak terlalu rapat dengan judul */
            border-radius: 50%; /* Mengatur foto profil menjadi lingkaran */
            width: 200px; /* Sesuaikan dengan ukuran foto profil Anda */
            height: 200px; /* Sesuaikan dengan ukuran foto profil Anda */
        }
